---
import RateCard from "@/components/RateCard.astro";
import type { RateCardData } from "@/lib/rates";

interface Props {
  rates: RateCardData[];
}

const { rates } = Astro.props;
---

<div id="rates-list" class="flex flex-col gap-3">
  {rates.map((rate) => <RateCard rate={rate} />)}
</div>
