---
import { cn } from '../../lib/utils';

interface Props extends astroHTML.JSX.HTMLAttributes {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<div
  data-slot="card-header"
  class={cn(
    "grid auto-rows-min items-start gap-1 rounded-t-xl px-4",
    className
  )}
  {...props}
>
  <slot />
</div>