---
import { cn } from '../../lib/utils';

interface Props extends astroHTML.JSX.HTMLAttributes {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<div
  data-slot="card-title"
  class={cn("text-base leading-snug font-medium", className)}
  {...props}
>
  <slot />
</div>